git+https://github.com/jina-ai/jina.git@v1.2.4#egg=jina[http, index]
git+https://github.com/jina-ai/cloud-helper.git#egg=jinacld_tools
boto3
pandas
pyyaml
chevron
pydantic
requests
Pillow
prettytable
